@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fill{
  color: #ffffff;
}

.results {
  display: inline-block;
}

.resultOptions {
  position: relative;
  display: block;
  width: 80%;
}

.resultOptions .i {
  position: relative;
  padding: 5px;
  margin-top: -120px;
}